<form method="post" action="/pizza-orders/update">

  <label for="first-name">First Name:</label>
    <input id="first-name" type="text" name="first_name" value="<%= @order.first_name %>" />

  <label for="last-name">Last Name:</label>
    <input id="last-name" type="text" name="last_name" value="<%= @order.last_name %>" />

  <label for="pizza-select">Select a pizza:</label>
    <select id="pizza-select" name="topping" >
      <option value="" selected disabled hidden><%= @order.topping %></option>
      <option value="Margherita">Margherita</option>
      <option value="Calzone">Calzone</option>
      <option value="Pepperoni">Pepperoni</option>
      <option value="Italian Sausage">Italian Sausage</option>
    </select>

  <label for="quantity">Quantity:</label>
    <input id="quantity" type="number" name="quantity" value="<%= @order.quantity %>"/>

  <input type="hidden" name="id" value="<%= @order.id %>" />

  <input type="submit" value="Update Order"/>

</form>
